<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card mx-auto col-6 bg-dark text-primary">
        <h1 class="card-title">Sumbitted infos</h1>
        <p class="card-text">Name: {{survey.name}}</p>
        <p class="card-text">Dojo Location: {{survey.location}}</p>
        <p class="card-text">Favorite Language: {{survey.language}}</p>
        <p class="card-text">Comments: {{survey.comment}}}</p>
    </div>
    
</body>
</html>